<div class="card">
  <div class="card-body">
    <form [formGroup]="formUser">
      <div class="mb-2">
        <label class="form-label">
          Nombre
        </label>
        <input type="text" class="form-control" [formControl]="name" placeholder="Por favor ingrese su nombre">
        <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
          El nombre es obligatorio
        </div>

      </div>
      <div class="mb-2">
        <label class="form-label">
          Correo
        </label>
        <input type="email" class="form-control" [formControl]="email" placeholder="Por favor ingrese su Correo">

        <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
          <span *ngIf="email.errors?.['required']">
            El email es obligatorio
          </span>
          <span *ngIf="email.errors?.['email']">
            El email debe ser valido
          </span>
        </div>

      </div>
      <button class="btn btn-primary">
        Enviar
      </button>
    </form>

  </div>
</div>
